// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Bootstrap
// @import ('/node_modules/bootstrap/dist/bootstrap.css');
// @import ('/node_modules/bootstrap-vue/dist/bootstrap-vue.css');
@import('bootsrap.styl')
// Variables
@import('_variables.styl')
//Menu
//https://fontawesome.com/v4.7.0/icons/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300");
@import('menu.styl')



body {
    overflow-x: hidden;
}

a {
    color: #fff;
}


// Alerts
._alerts {
    position: fixed;
    margin-bottom: -75px;
    right: 0;
}
.dropdown>a {
    color: #fff;
}
.dropdown>a:hover {
    color: #fff;
    text-decoration: underline;
}
.dropdown-menu>li>a {
    padding-left: 20px;
    color: #343a40;
}
li.dropdown {
    text-align: center;
}